body {
    background: grey;
}

button, .button {
    background-color: #24AAE1;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: #007095;
}

#content {
    background: white;
    max-width: 68rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-width: 0 1px;
    border-style: solid;
    border-color: #d8d8d8;
    min-height: 100%
}

.logo {
    width: 15rem;
    margin-bottom: -15px;
    display: inline-block;
}
.home-splash {
    margin-top: 10rem;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #d8d8d8;
}

.no-margin {
    margin: 0px;
}

.page-title {
    margin-bottom: -15px;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 10px;
}


.top-margin{
    margin-top: 1.5rem;
}

.bottom-margin{
    margin-bottom: 1rem;
}

.double-margin{
    margin-top: 2rem;
}